<style>
	.${cssClientId}_slide {display:none}
	.${cssClientId}_cursor {cursor:pointer}
	.${cssClientId}_w3-badge {height:20px;width:20px;padding:0;margin:3px;}
</style>

<script type="text/javascript">
	var ${cssClientId}_slideIndex = 1;
	${cssClientId}_showDivs(${cssClientId}_slideIndex);
	
	function ${cssClientId}_plusDivs(n) {
	  ${cssClientId}_showDivs(${cssClientId}_slideIndex += n);
	}
	
	function ${cssClientId}_currentDiv(n) {
	  ${cssClientId}_showDivs(${cssClientId}_slideIndex = n);
	}
	
	function ${cssClientId}_showDivs(n) {
	  var i;
	  var x = document.getElementsByClassName("${cssClientId}_slide");
	  var dots = document.getElementsByClassName("${cssClientId}_dot");
	  if (n > x.length) {${cssClientId}_slideIndex = 1}
	  if (n < 1) {${cssClientId}_slideIndex = x.length}
	  for (i = 0; i < x.length; i++) {
	    x[i].style.display = "none";  
	  }
	  for (i = 0; i < dots.length; i++) {
	    dots[i].className = dots[i].className.replace(" w3-white", "");
	  }
	  x[${cssClientId}_slideIndex-1].style.display = "block";  
	  dots[${cssClientId}_slideIndex-1].className += " w3-white";
	}
</script>
