.w3-theme-l5 {color:#000 !important; background-color:#f8fcfe !important}
.w3-theme-l4 {color:#000 !important; background-color:#e7f5fb !important}
.w3-theme-l3 {color:#000 !important; background-color:#d0ecf7 !important}
.w3-theme-l2 {color:#000 !important; background-color:#b8e2f3 !important}
.w3-theme-l1 {color:#000 !important; background-color:#a1d9ef !important}
.w3-theme-d1 {color:#000 !important; background-color:#69c2e6 !important}
.w3-theme-d2 {color:#fff !important; background-color:#4ab6e0 !important}
.w3-theme-d3 {color:#fff !important; background-color:#2aa9db !important}
.w3-theme-d4 {color:#fff !important; background-color:#2092bf !important}
.w3-theme-d5 {color:#fff !important; background-color:#1b7a9f !important}

.w3-theme-light {color:#000 !important; background-color:#f8fcfe !important}
.w3-theme-dark {color:#fff !important; background-color:#1b7a9f !important}
.w3-theme-action {color:#fff !important; background-color:#1b7a9f !important}

.w3-theme {color:#000 !important; background-color:#87ceeb !important}
.w3-text-theme {color:#87ceeb !important}
.w3-border-theme {border-color:#87ceeb !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#87ceeb !important}
.w3-hover-text-theme:hover {color:#87ceeb !important}
.w3-hover-border-theme:hover {border-color:#87ceeb !important}

/***** Gradient definitions *****/

/* Using l1 and l2 colors above */  
  .w3-theme-gradient-l1 {
  color: #fff !important;
  background:-webkit-linear-gradient(top,#79bff8 25%,#4daaf6 75%)}
.w3-theme-gradient-l1 {
  color: #fff !important;
  background:-moz-linear-gradient(top,#79bff8 25%,#4daaf6 75%)}
.w3-theme-gradient-l1 {
  color: #fff !important;
  background:-o-linear-gradient(top,#79bff8 25%,#4daaf6 75%)}
.w3-theme-gradient-l1 {
  color: #fff !important;
  background:-ms-linear-gradient(top,#79bff8 25%,#4daaf6 75%)}
.w3-theme-gradient-l1 {
  color: #fff !important;
  background: linear-gradient(top,#79bff8 25%,#4daaf6 75%)}

/* Using d2 and d5 colors above */  
.w3-theme-gradient-d5 {
  color: #fff !important;
  background:-webkit-linear-gradient(top,#4ab6e0 25%,#1b7a9f 75%)}
.w3-theme-gradient-d5 {
  color: #fff !important;
  background:-moz-linear-gradient(top,#4ab6e0 25%,#1b7a9f 75%)}
.w3-theme-gradient-d5 {
  color: #fff !important;
  background:-o-linear-gradient(top,#4ab6e0 25%,#1b7a9f 75%)}
.w3-theme-gradient-d5 {
  color: #fff !important;
  background:-ms-linear-gradient(top,#4ab6e0 25%,#1b7a9f 75%)}
.w3-theme-gradient-d5 {
  color: #fff !important;
  background: linear-gradient(top,#4ab6e0 25%,#1b7a9f 75%)}