.w3-theme-l5 {color:#000 !important; background-color:#edfdff !important}
.w3-theme-l4 {color:#000 !important; background-color:#c4f8ff !important}
.w3-theme-l3 {color:#000 !important; background-color:#89f1ff !important}
.w3-theme-l2 {color:#000 !important; background-color:#4eeaff !important}
.w3-theme-l1 {color:#000 !important; background-color:#12e3ff !important}
.w3-theme-d1 {color:#fff !important; background-color:#00aac1 !important}
.w3-theme-d2 {color:#fff !important; background-color:#0097ab !important}
.w3-theme-d3 {color:#fff !important; background-color:#008496 !important}
.w3-theme-d4 {color:#fff !important; background-color:#007281 !important}
.w3-theme-d5 {color:#fff !important; background-color:#005f6b !important}

.w3-theme-light {color:#000 !important; background-color:#edfdff !important}
.w3-theme-dark {color:#fff !important; background-color:#005f6b !important}
.w3-theme-action {color:#fff !important; background-color:#005f6b !important}

.w3-theme {color:#fff !important; background-color:#00bcd4 !important}
.w3-text-theme {color:#00bcd4 !important}
.w3-border-theme {border-color:#00bcd4 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#00bcd4 !important}
.w3-hover-text-theme:hover {color:#00bcd4 !important}
.w3-hover-border-theme:hover {border-color:#00bcd4 !important}

/***** Gradient definitions *****/

/* Using l1 and l2 colors above */
.w3-theme-gradient-l1 {
  color: #000 !important;
  background:-webkit-linear-gradient(top,#4eeaff 25%,#12e3ff 75%)}
.w3-theme-gradient-l1 {
  color: #000 !important;
  background:-moz-linear-gradient(top,#4eeaff 25%,#12e3ff 75%)}
.w3-theme-gradient-l1 {
  color: #000 !important;
  background:-o-linear-gradient(top,#4eeaff 25%,#12e3ff 75%)}
.w3-theme-gradient-l1 {
  color: #000 !important;
  background:-ms-linear-gradient(top,#4eeaff 25%,#12e3ff 75%)}
.w3-theme-gradient-l1 {
  color: #000 !important;
  background: linear-gradient(top,#4eeaff 25%,#12e3ff 75%)}

/* Using d2 and d5 colors above */
.w3-theme-gradient-d5 {
  color: #fff !important;
  background:-webkit-linear-gradient(top,#0097ab 25%,#005f6b 75%)}
.w3-theme-gradient-d5 {
  color: #fff !important;
  background:-moz-linear-gradient(top,#0097ab 25%,#005f6b 75%)}
.w3-theme-gradient-d5 {
  color: #fff !important;
  background:-o-linear-gradient(top,#0097ab 25%,#005f6b 75%)}
.w3-theme-gradient-d5 {
  color: #fff !important;
  background:-ms-linear-gradient(top,#0097ab 25%,#005f6b 75%)}
.w3-theme-gradient-d5 {
  color: #fff !important;
  background: linear-gradient(top,#0097ab 25%,#005f6b 75%)}