.w3-theme-l5 {color:#000 !important; background-color:#e9fffd !important}
.w3-theme-l4 {color:#000 !important; background-color:#b7fff8 !important}
.w3-theme-l3 {color:#000 !important; background-color:#6efff1 !important}
.w3-theme-l2 {color:#000 !important; background-color:#26ffe9 !important}
.w3-theme-l1 {color:#fff !important; background-color:#00dcc6 !important}
.w3-theme-d1 {color:#fff !important; background-color:#008578 !important}
.w3-theme-d2 {color:#fff !important; background-color:#00766a !important}
.w3-theme-d3 {color:#fff !important; background-color:#00685d !important}
.w3-theme-d4 {color:#fff !important; background-color:#005950 !important}
.w3-theme-d5 {color:#fff !important; background-color:#004a43 !important}

.w3-theme-light {color:#000 !important; background-color:#e9fffd !important}
.w3-theme-dark {color:#fff !important; background-color:#004a43 !important}
.w3-theme-action {color:#fff !important; background-color:#004a43 !important}

.w3-theme {color:#fff !important; background-color:#009688 !important}
.w3-text-theme {color:#009688 !important}
.w3-border-theme {border-color:#009688 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#009688 !important}
.w3-hover-text-theme:hover {color:#009688 !important}
.w3-hover-border-theme:hover {border-color:#009688 !important}

/***** Gradient definitions *****/

/* Using l1 and l2 colors above */
.w3-theme-gradient-l1 {
  color: #fff !important;
  background:-webkit-linear-gradient(top,#26ffe9 25%,#00dcc6 75%)}
.w3-theme-gradient-l1 {
  color: #fff !important;
  background:-moz-linear-gradient(top,#26ffe9 25%,#00dcc6 75%)}
.w3-theme-gradient-l1 {
  color: #fff !important;
  background:-o-linear-gradient(top,#26ffe9 25%,#00dcc6 75%)}
.w3-theme-gradient-l1 {
  color: #fff !important;
  background:-ms-linear-gradient(top,#26ffe9 25%,#00dcc6 75%)}
.w3-theme-gradient-l1 {
  color: #fff !important;
  background: linear-gradient(top,#26ffe9 25%,#00dcc6 75%)}

/* Using d2 and d5 colors above */  
.w3-theme-gradient-d5 {
  color: #fff !important;
  background:-webkit-linear-gradient(top,#00766a 25%,#004a43 75%)}
.w3-theme-gradient-d5 {
  color: #fff !important;
  background:-moz-linear-gradient(top,#00766a 25%,#004a43 75%)}
.w3-theme-gradient-d5 {
  color: #fff !important;
  background:-o-linear-gradient(top,#00766a 25%,#004a43 75%)}
.w3-theme-gradient-d5 {
  color: #fff !important;
  background:-ms-linear-gradient(top,#00766a 25%,#004a43 75%)}
.w3-theme-gradient-d5 {
  color: #fff !important;
  background: linear-gradient(top,#00766a 25%,#004a43 75%)}