.w3-theme-l5 {color:#000 !important; background-color:#f8fbf4 !important}
.w3-theme-l4 {color:#000 !important; background-color:#e8f3db !important}
.w3-theme-l3 {color:#000 !important; background-color:#d1e7b7 !important}
.w3-theme-l2 {color:#000 !important; background-color:#b9db93 !important}
.w3-theme-l1 {color:#000 !important; background-color:#a2cf6f !important}
.w3-theme-d1 {color:#fff !important; background-color:#7eb63d !important}
.w3-theme-d2 {color:#fff !important; background-color:#70a236 !important}
.w3-theme-d3 {color:#fff !important; background-color:#628e2f !important}
.w3-theme-d4 {color:#fff !important; background-color:#547a29 !important}
.w3-theme-d5 {color:#fff !important; background-color:#466522 !important}

.w3-theme-light {color:#000 !important; background-color:#f8fbf4 !important}
.w3-theme-dark {color:#fff !important; background-color:#466522 !important}
.w3-theme-action {color:#fff !important; background-color:#466522 !important}

.w3-theme {color:#fff !important; background-color:#8bc34a !important}
.w3-text-theme {color:#8bc34a !important}
.w3-border-theme {border-color:#8bc34a !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#8bc34a !important}
.w3-hover-text-theme:hover {color:#8bc34a !important}
.w3-hover-border-theme:hover {border-color:#8bc34a !important}

/***** Gradient definitions *****/

/* Using l1 and l2 colors above */
.w3-theme-gradient-l1 {
  color: #fff !important;
  background:-webkit-linear-gradient(top,#b9db93 25%,#a2cf6f 75%)}
.w3-theme-gradient-l1 {
  color: #fff !important;
  background:-moz-linear-gradient(top,#b9db93 25%,#a2cf6f 75%)}
.w3-theme-gradient-l1 {
  color: #fff !important;
  background:-o-linear-gradient(top,#b9db93 25%,#a2cf6f 75%)}
.w3-theme-gradient-l1 {
  color: #fff !important;
  background:-ms-linear-gradient(top,#b9db93 25%,#a2cf6f 75%)}
.w3-theme-gradient-l1 {
  color: #fff !important;
  background: linear-gradient(top,#b9db93 25%,#a2cf6f 75%)}

/* Using d2 and d5 colors above */  
.w3-theme-gradient-d5 {
  color: #fff !important;
  background:-webkit-linear-gradient(top,#70a236 25%,#466522 75%)}
.w3-theme-gradient-d5 {
  color: #fff !important;
  background:-moz-linear-gradient(top,#70a236 25%,#466522 75%)}
.w3-theme-gradient-d5 {
  color: #fff !important;
  background:-o-linear-gradient(top,#70a236 25%,#466522 75%)}
.w3-theme-gradient-d5 {
  color: #fff !important;
  background:-ms-linear-gradient(top,#70a236 25%,#466522 75%)}
.w3-theme-gradient-d5 {
  color: #fff !important;
  background: linear-gradient(top,#70a236 25%,#466522 75%)}