<h4>Hi ${username}!</h4>
<p>
Here is the <a href='${baseUrl}passwordReset.xhtml?key=${key}'>link</a> to reset your password in <b>${applicationName}</b> (requested on ${requestedDate}).
</p>
<p> 
If you didn't request this, please ignore this email.
</p>
<p>
Regards,
</p>